## MLOps Assignment 1

Q1. Print multiplication table from 1 to 10

In [ ]:
l=[i for i in range(1,11)]

for i in range(1,11):
  print("Multiplication Table ",i," ",end="\t")
print(end="\n")
for i in range(1,11):
  for j in l:
    print(j,"*",i,"=",j*i,end="\t \t \t")
  print(end="\n")

Multiplication Table  1  	Multiplication Table  2  	Multiplication Table  3  	Multiplication Table  4  	Multiplication Table  5  	Multiplication Table  6  	Multiplication Table  7  	Multiplication Table  8  	Multiplication Table  9  	Multiplication Table  10
1 * 1 = 1	 	 	2 * 1 = 2	 	 	3 * 1 = 3	 	 	4 * 1 = 4	 	 	5 * 1 = 5	 	 	6 * 1 = 6	 	 	7 * 1 = 7	 	 	8 * 1 = 8	 	 	9 * 1 = 9	 	 	10 * 1 = 10
1 * 2 = 2	 	 	2 * 2 = 4	 	 	3 * 2 = 6	 	 	4 * 2 = 8	 	 	5 * 2 = 10	 	 	6 * 2 = 12	 	 	7 * 2 = 14	 	 	8 * 2 = 16	 	 	9 * 2 = 18	 	 	10 * 2 = 20
1 * 3 = 3	 	 	2 * 3 = 6	 	 	3 * 3 = 9	 	 	4 * 3 = 12	 	 	5 * 3 = 15	 	 	6 * 3 = 18	 	 	7 * 3 = 21	 	 	8 * 3 = 24	 	 	9 * 3 = 27	 	 	10 * 3 = 30
1 * 4 = 4	 	 	2 * 4 = 8	 	 	3 * 4 = 12	 	 	4 * 4 = 16	 	 	5 * 4 = 20	 	 	6 * 4 = 24	 	 	7 * 4 = 28	 	 	8 * 4 = 32	 	 	9 * 4 = 36	 	 	10 * 4 = 40
1 * 5 = 5	 	 	2 * 5 = 10	 	 	3 * 5 = 15	 	 	4 * 5 = 20	 	 	5 * 5 = 25	 	 	6 * 5 = 30	 	 	7 * 5 = 35	 	 	8 * 5 = 40	 	 	9 * 5 = 45	 	 	10 * 5 = 50
1 * 6 = 6	 	 	2 * 6 = 12	 	 	3 * 6 = 18	 	 	4 * 6 = 24	 	 	5 * 6 = 30	 	 	6 * 6 = 36	 	 	7 * 6 = 42	 	 	8 * 6 = 48	 	 	9 * 6 = 54	 	 	10 * 6 = 60
1 * 7 = 7	 	 	2 * 7 = 14	 	 	3 * 7 = 21	 	 	4 * 7 = 28	 	 	5 * 7 = 35	 	 	6 * 7 = 42	 	 	7 * 7 = 49	 	 	8 * 7 = 56	 	 	9 * 7 = 63	 	 	10 * 7 = 70
1 * 8 = 8	 	 	2 * 8 = 16	 	 	3 * 8 = 24	 	 	4 * 8 = 32	 	 	5 * 8 = 40	 	 	6 * 8 = 48	 	 	7 * 8 = 56	 	 	8 * 8 = 64	 	 	9 * 8 = 72	 	 	10 * 8 = 80
1 * 9 = 9	 	 	2 * 9 = 18	 	 	3 * 9 = 27	 	 	4 * 9 = 36	 	 	5 * 9 = 45	 	 	6 * 9 = 54	 	 	7 * 9 = 63	 	 	8 * 9 = 72	 	 	9 * 9 = 81	 	 	10 * 9 = 90
1 * 10 = 10	 	 	2 * 10 = 20	 	 	3 * 10 = 30	 	 	4 * 10 = 40	 	 	5 * 10 = 50	 	 	6 * 10 = 60	 	 	7 * 10 = 70	 	 	8 * 10 = 80	 	 	9 * 10 = 90	 	 	10 * 10 = 100

Q2. Given two lists, l1 and l2, write a program to create a third list l3 by picking an odd-index element from the list l1 and even index elements from the list l2.

In [ ]:
#write here and run the cell
l1=list(map(int,input("enter list1 elements:").split()))
l2=list(map(int,input("enter list 2 elements:").split()))
l3=list()
ptr1=1
ptr2=0

while (ptr1<len(l1) or ptr2<len(l2)):
  if((ptr1<len(l1) and ptr2<len(l2))):
    l3.append(l1[ptr1])
    l3.append(l2[ptr2])
    ptr1=ptr1+2
    ptr2=ptr2+2
  elif(ptr1<len(l1)):
    l3.append(l1[ptr1])
    ptr1=ptr1+2
  elif(ptr2<len(l2)):
    l3.append(l2[ptr2])
    ptr2=ptr2+2

print("list l3:",l3)

enter list1 elements:1 2 3 4 5
enter list 2 elements:6 7 8 9 10
list l3: [2, 6, 4, 8, 10]

Q3. Print a this pattern(*)

    * * * * * * * *
      * * * * * * *
        * * * * * *
          * * * * *
            * * * *
              * * *
                * *
                  *

In [ ]:
#write here and run the cell
space=0
for i in range(8,-1,-1):
  s=space*"  "+"* "*i
  space=space+1
  print(s)

* * * * * * * *
  * * * * * * *
    * * * * * *
      * * * * *
        * * * *
          * * *
            * *
              *

Q4. Create a function named `exponent(base, exp)` that returns an integer representing the result of raising `base` to the power of `exp`.
`exp` is >0.

base = 5
exponent = 4

5 raises to the power of 4 is: 625
i.e. (5 *5 * 5 *5 = 625)

In [ ]:
#write here and run the cell
def exponent(base,exp):
  return base**exp

base=int(input("enter base"))
exp=int(input("enter exponent"))
print(base," raises to the power of",exp," is:",exponent(base,exp))

enter base5
enter exponent4
5  raises to the power of 4  is: 625

Q5. Create a file named test.txt and insert the following content into it.

    line1
    line2
    line3
    line4
    line5
    line6
    line7

Write a program which write all content of a given file (test.txt) into a new file by skipping line number 5 (line5)

In [15]:
#write here and run the cell
f=open("text.txt",'w')
x="""line1
line2
line3
line4
line5
line6
line7"""
f.write(x)

f.close()
f1=open("text.txt",'r')
f2=open("q5ans.txt",'w')
l=[i for i in f1.readlines()]
for i in range(len(l)):
  if(i==4):
    continue
  else:
    f2.write(l[i])
f1.close()
f2.close()

f3=open("q5ans.txt","r")
x=f3.read()
print(x)
f3.close()

line1
line2
line3
line4
line6
line7

Q6. Write a program which receives three names from the user in a single input() function call.

    Input: IIT JODHPUR RAJASTHAN

    Output:
    IIT
    JODHPUR
    RAJASTHAN

In [ ]:
#write here and run the cell
def func(s):
  s=s.split()
  for i in s:
    print(i)

s=input("enter three names")
func(s)

enter three namesIIT JODHPUR RAJASTHAN
IIT
JODHPUR
RAJASTHAN

Q7. Write a program to define a function called show_employee() with the following requirements:

*   It should take the employee's name and salary as input and display both.
*   If the salary is not provided in the function call, assign a default value of 9000 to it.

After passing:

showEmployee("Bill Gates", 12000)

showEmployee("Elon Musk")

It should print:

Name: Bill Gates salary: 12000

Name: Elon Musk salary: 9000

In [2]:
#write here and run the cell
def show_employee(name,salary=9000):
  print("Name:",name,"salary:",salary)


show_employee("Bill Gates", 12000)
show_employee("Elon Musk")

Name: Bill Gates salary: 12000
Name: Elon Musk salary: 9000

Q8. Write a program to identify words that contain both letters and digits from a given input string.

    Given str1 = "Harry25 is Gryffindor Wizard50 and cursed"

    Output:
    Harry25
    Wizard50

In [5]:
#write here and run the cell
def check_letter(s):
  for i in s:
    if i in "abcdefghijklmnopqrstuvwxyz":
      return True
  else:
    return False
def check_number(s):
  for i in s:
    if i in "0123456789":
      return True
  else:
    return False
x=list(input().split())
for s in x:
  if check_letter(s) and check_number(s):
    print(s)

Harry25 is Gryffindor Wizard50 and cursed
Harry25
Wizard50

Q9. Write a program to substitute each special character in the given string with the symbol #.

    Given: str1 = '/*Modi is @Politician & Melony!!'

    Output: ##Modi is #Politician # Melony##

In [16]:
#write here and run the cell
import string
str1 = '/*Modi is @Politician & Melony!!'
rep=string.punctuation #For special Characters

for i in str1:
  if i in rep:
    ans=ans+"#"
  else:
    ans=ans+i

print(ans)

##Modi is #Politician # Melony####Modi is #Politician # Melony##

Q10. Construct a Python set that displays elements from both lists as pairs.

    Given:

    first_list = [2, 3, 4, 5, 6, 7, 8]
    second_list = [4, 9, 16, 25, 36, 49, 64]
    Output: Result is  {(6, 36), (8, 64), (4, 16), (5, 25), (3, 9), (7, 49), (2, 4)}

In [7]:
#write here and run the cell
ptr1=0
ptr2=0
first_list = [2, 3, 4, 5, 6, 7, 8]
second_list = [4, 9, 16, 25, 36, 49, 64]
l=[]
for i in first_list:
  if i**2 in second_list:
    l.append((i,i**2))
ans=set(l)
print(ans)

{(7, 49), (2, 4), (4, 16), (8, 64), (6, 36), (3, 9), (5, 25)}

Q11. Define two set A and B consisting of 5 elements. Now print the element after performing


      1.   A-B
      2.   B-A
      3.   A∩B
      4.   A∪B

In [10]:
#write here and run the cell
A={1,'a',2,'b',3,'c',4,'d',5,'e'}
B={1,2,3,4,5,'z','y','x','w','u'}
print("A-B:",(A-B))
print("B-A:",(B-A))
print("A∩B",A.intersection(B))
print("A∩B",A.union(B))

A-B: {'c', 'e', 'b', 'a', 'd'}
B-A: {'x', 'w', 'y', 'z', 'u'}
A∩B {1, 2, 3, 4, 5}
A∩B {1, 2, 3, 4, 5, 'c', 'x', 'w', 'y', 'z', 'a', 'u', 'e', 'b', 'd'}

## Object Oriented Programming Exercise 1:

[Classes and Objects in Python](https://pynative.com/python-classes-and-objects/)

[Instance variables in Python](https://pynative.com/python-instance-variables/)

Q12. Create a Vehicle class with max_speed and mileage instance attributes.

In [17]:
#write here and run the cell
class Vehicle:
  def __init__(self,max_speed,mileage):
    self.max_speed=max_speed
    self.mileage=mileage

  def inherit_explain(self):
    print("parents properties are inherited to child")
    print("Max speed:",self.max_speed,"\nMileage:",self.mileage)

Q13. Create a child class Bus that will inherit all of the variables and methods of the Vehicle class.

Create a Bus object that will inherit all of the variables and methods of the parent Vehicle class and display it.

In [18]:
#write here and run the cell
class Bus(Vehicle):
  def __init__(self,max_speed,mileage):
    super().__init__(max_speed,mileage)

max_speed=100
mileage=8
b1=Bus(max_speed,mileage)
b1.inherit_explain()

parents properties are inherited to child
Max speed: 100
Mileage: 8

### Class Inheritance

Q14. Create a Bus class that inherits from the Vehicle class. Give the capacity argument of Bus.seating_capacity() a default value of 50.

Use the following code for your parent Vehicle class.

    class Vehicle:
      def __init__(self, name, max_speed, mileage):
          self.name = name
          self.max_speed = max_speed
          self.mileage = mileage

      def seating_capacity(self, capacity):
          return f"The seating capacity of a {self.name} is {capacity} passengers"

Expected Output:

    The seating capacity of a bus is 50 passengers

In [23]:
#write here and run the cell
class Vehicle:
  def __init__(self, name, max_speed, mileage):
      self.name = name
      self.max_speed = max_speed
      self.mileage = mileage

  def seating_capacity(self, capacity):
      return f"The seating capacity of a {self.name} is {capacity} passengers"

class Bus(Vehicle):
  def __init__(self,name,max_speed,mileage):
    super().__init__(name,max_speed,mileage)

  def seating_capacity(self,capacity=50):
      return super().seating_capacity(capacity)

max_speed=100
mileage=8
b1=Bus("Benz",max_speed,mileage)
ans=b1.seating_capacity()
print(ans)

The seating capacity of a Benz is 50 passengers

Q15. Create a Bus subclass that inherits from the Vehicle class. By default, the fare for any vehicle is calculated as the seating capacity multiplied by 100. For instances of the Bus class, an additional 10% maintenance fee should be applied to the total fare. Therefore, the final fare for a bus instance will be the sum of the total fare plus an additional 10% of that total fare.

Note: The bus has a seating capacity of 50, so the final fare amount should be 5500. You need to override the fare() method from the Vehicle class in the Bus class.

Use the provided code for the parent Vehicle class. You should access the parent class within a method of the child class.

    class Vehicle:
      def __init__(self, name, mileage, capacity):
        self.name = name
        self.mileage = mileage
        self.capacity = capacity

      def fare(self):
        return self.capacity * 100

    class Bus(Vehicle):
        pass
        School_bus = Bus("School Volvo", 12, 50)
        print("Total Bus fare is:", School_bus.fare())

    Expected Output:

    Total Bus fare is: 5500.0

In [24]:
#write here and run the cell

class Vehicle:
  def __init__(self, name, mileage, capacity):
    self.name = name
    self.mileage = mileage
    self.capacity = capacity

  def fare(self):
    return self.capacity * 100

class Bus(Vehicle):
    def fare(self):
      return self.capacity*100 + self.capacity*100/10
School_bus = Bus("School Volvo", 12, 50)
print("Total Bus fare is:", School_bus.fare())

Total Bus fare is: 5500.0

### Python JSON Exercise
Refer: [Python JSON tutorials](https://pynative.com/python/json/)

Q16. Convert the following dictionary into JSON format

    data = {"key1" : "value1", "key2" : "value2"}
    data = {"key1" : "value1", "key2" : "value2"}

In [3]:
import json
#write here and run the cell
data = {"key1" : "value1", "key2" : "value2"}
ans=json.dumps(data)
print((ans))

{"key1": "value1", "key2": "value2"}

Q17. Sort JSON keys in and write them into a file

    sampleJson = {"id" : 1, "name" : "value2", "age" : 29}

    {
          "age": 29,
          "id": 1,
          "name": "value2"
    }

In [4]:
#write here and run the cell
import json
sampleJson = {"id" : 1, "name" : "value2", "age" : 29}

{
      "age": 29,
      "id": 1,
      "name": "value2"
}

with open("q17ans",'w') as f:
  json.dump(sampleJson,f,indent=2,sort_keys=True)